.top-tabber{
    width: 100%;
    height: 2.5rem;
    background-color: #ff82ab;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;

}
.top-tabber a{

    color: #fff;

    width: 33%;
text-decoration: none;
    height: 100%;
    font-size:0.875rem;
   display: flex;
    justify-content: center;
    align-items: center;
}
.top-tabber a div:nth-child(1){
    margin-top: 0.5rem;
}
.current{
    text-shadow: 0 0 3px #ffffff,-0 -0.3px #ffffff;
}